<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:stil="http://brekka.org/schema/stillingar"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://brekka.org/schema/stillingar http://brekka.org/schema/stillingar/brekka-stillingar-1.0.xsd">

	<context:component-scan base-package="org.brekka.stillingar.test.intg.services.impl" />

<!-- 
	<bean id="stillingar2" class="org.brekka.stillingar.core.DefaultConfigurationSource" init-method="init">
		<constructor-arg>
			<bean class="org.brekka.stillingar.spring.snapshot.ResourceSnapshotManager">
				<constructor-arg>
					<bean class="org.brekka.stillingar.spring.resource.ScanningResourceSelector">
						<constructor-arg>
							<list>
								<bean class="org.brekka.stillingar.spring.resource.BaseDirResolver" />
								<bean class="org.brekka.stillingar.spring.resource.BaseInHomeDirResolver">
									<constructor-arg value=".stillingar" />
								</bean>
								<value>classpath:org/brekka/stillingar/test/intg/</value>
							</list>
						</constructor-arg>
						<constructor-arg>
							<bean class="org.brekka.stillingar.spring.resource.MavenVersionedResourceNaming">
								<constructor-arg value="integration" />
								<property name="groupId" value="org.brekka" />
								<property name="artifactId" value="stillingar-test-integration" />
							</bean>
						</constructor-arg>
					</bean>
				</constructor-arg>
				<constructor-arg>
					<bean class="org.brekka.stillingar.xmlbeans.XmlBeansSnapshotLoader">
						<property name="xpathNamespaces">
							<map>
								<entry key="c" value="http://brekka.org/xml/stillingar/test/intg" />
							</map>
						</property>
					</bean>
				</constructor-arg>
			</bean>
		</constructor-arg>
	</bean>

    <bean id="updateTask" class="org.brekka.stillingar.spring.LoggingBackgroundUpdater">
        <constructor-arg ref="stillingar" />
    </bean>

    <bean id="scheduler" class="org.springframework.scheduling.concurrent.ScheduledExecutorFactoryBean">
        <property name="scheduledExecutorTasks">
            <list>
                <bean class="org.springframework.scheduling.concurrent.ScheduledExecutorTask">
                    <constructor-arg ref="updateTask" />
                    <property name="period" value="5000" />
                </bean>
            </list>
        </property>
        <property name="threadNamePrefix" value="configuration-reloader"></property>
    </bean>
	-->
	

    <bean id="something" class="java.lang.Float">
        <constructor-arg value="$app-config{/c:Configuration/c:Business/c:Frequency}">
        </constructor-arg>
    </bean>

	<bean id="dynamicBean" class="java.util.Date" scope="prototype" />
	
	<bean id="simpleBeanStatic" class="org.brekka.stillingar.test.intg.SimpleBean">
	   <property name="value" value="$app-config{/c:Configuration/c:Business/c:Frequency}" />
	</bean>
	
	<bean id="simpleBeanPrototype" class="org.brekka.stillingar.test.intg.SimpleBean" scope="prototype">
	    <property name="value" value="$app-config{/c:Configuration/c:Business/c:Frequency}" />
	</bean>
	
	<bean class="org.brekka.stillingar.test.intg.PrototypeConfiguredBean"></bean>

    <stil:configuration id="app-config" application-name="integration" reload-interval="5000" type="xmlbeans"> 
        <stil:namespace prefix="c" url="http://brekka.org/xml/stillingar/test/intg" />
        <stil:property-placeholder />
    </stil:configuration> 

<!--     <bean class="org.brekka.stillingar.spring.ConfigurationPlaceholderConfigurer"> -->
<!--         <constructor-arg ref="stillingar" /> -->
<!--     </bean> -->
</beans>
